<ion-view view-title="Shop Details" hide-back-button="true">
	
	
    <ion-content>
        
        
        <div id="map1"></div>
        
        
         <div class="bar bar-footer bar-assertive">
		  Driver Contact No : {{driver.drivercontactno}}
		  Driver Latitude : {{driver.driverlat}}
		  Driver Longitude : {{driver.driverlng}}
		  Estimated Cost : {{driver.estimatedcost}} Rs
		  Payment Mode : {{driver.paymentmode}}
		  Driver will reach you in : {{driver.duration}} minutes
        </div>
		

    </ion-content>


</ion-view>