<ion-view>
     
    	
    
    <ion-content>
        
  		<!--<label class= "item item-input">
  		    <input type="text" placeholder="Destination" ng.model="dest.dest">

  		</label>
    -->
        
	

        <div id="map" data-tap-disabled="true"></div>
        
        <div class="bar bar-footer bar-assertive">
   <button class="button icon ion-home" ng-click = "gotohome()" ></button>
   <button class="button icon btn-primary btn-xs " ng-click = "startNewRide()">Book Now</button>
   <button class="button icon ion-checkmark-round" ng-click="signout"></button>
</div>
        
        
        
    </ion-content>
    </ion-view>